<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ds_international</title>
    <link href="favicon-32x32.png" rel="shortcut icon" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/60d5cc2d19.js" crossorigin="anonymous"></script>
    <link href="responsive.css" rel="stylesheet" type="text/css">
</head>

<body>
    <main>
        <nav>
            <div id="left_nav">
                <h1 style="font-family: 'Carattere'">DS International</h1>
            </div>
            <div id="middle_nav">
                <a>
                    <h2>Home</h2>
                </a>
                <a>
                    <h2>Plans</h2>
                </a>
                <a>
                    <h2>Food</h2>
                </a>
                <a>
                    <h2>About</h2>
                </a>
                <a>
                    <h2>Contact</h2>
                </a>
            </div>
            <div id="right_nav">
                <button id="login" onclick="display_login()">Login</button>
            </div>
        </nav>
        <div id="main-content">
            <h2>Welcome to</h2>
            <h1>DS INTERNATIONAL</h1>
            <h4>Come to enjoy best in class service and exquisite facilities..</h4>
            <h4>And Takeback Unforgettable Memories!</h4>
        </div>
    </main>
    <h3 id="rooms-plans-heading">Our Rooms</h3>
    <section id="rooms-plans">
        <div class="rooms">
            <img src="https://www.hoteldsinternational.com/image/room5.jpeg">
            <div>
                <h3>Royal Rooms</h3>
                <p>@Rs.8000/night</p>
                <p>Type:Ac</p>
                <p>Facilities:Led-Tv,24/7 Service,Wi-Fi,Closet, Laundry</p>
                <button>Book Now</button>
            </div>

        </div>
        <div class="rooms">
            <img src="https://www.hoteldsinternational.com/image/room4.jpeg">
            <div>
                <h3>Deluxe Rooms</h3>
                <p>@5000/night</p>
                <p>Type:Non-Ac</p>
                <p>Facilities:Led-Tv,24/7 Service,Wi-Fi,Closet</p>
                <button>Book Now</button>
            </div>
        </div>
        <div class="rooms"><img src="https://www.hoteldsinternational.com/image/room.jpeg">
            <div>
                <h3>1/2 Deluxe Rooms</h3>
                <p>@2500/night/person (Max--2 persons)</p>
                <p>Type:Non-Ac</p>
                <p>Facilities:Led-Tv,24/7 Service,Wi-Fi,Closet</p>
                <button>Book Now</button> </div>
        </div>
    </section>

    <footer>
        <div id="footer-top">
            <div id="top1">
                <h4>About Us</h4>
                <p>We are a part of DS Trust which has served
                    <br> people over the years.Our Restaurant is
                    <br> close to Bus stand ,Malls,and Marketplaces,<br>Dimna Lake and Parks.We promise that you
                    <br>can avail all items of your need easily. <br>We eagerly wait to serve and cater you.<br>
                    <br>DS International --- Welcomes You! </p>
            </div>
            <div id="top2">
                <h4>Follow us</h4>
                <i class="fa-brands fa-instagram"><a></a></i>

                <a><i class="fa-brands fa-facebook"></i></a>
                <a><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div id="top3">
                <h4>Contact Info</h4>
                <div>
                    <a><i class="fa-solid fa-location-dot"></i>Rishav Tower, Dimna Road Mango,<br> Near Teachers Colony, Jamshedpur, Jharkhand</a>
                </div>
                <div>
                    <a><i class="fa-solid fa-phone"></i>99999XXXXX</a>
                </div>
                <div>
                    <a><i class="fa-solid fa-envelope"></i>dsinternational@gmail.com</a>
                </div>
            </div>
        </div>
        <div id="footer-bottom">
            <p>Copyright <i class="fa-solid fa-copyright"></i> 2020 DS-International | All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>