body {
    display: flex;
    flex-direction: column;
}

#main-content {
    background-color: rgba(24, 22, 22, 0.589);
    background-image: url(https://www.hoteldsinternational.com/image/r7.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge;
    height: 85vh;
    text-align: center;
    align-content: center;
}

#main-content h2 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(194, 116, 13);
}

#main-content h1 {
    font-size: 4rem;
    font-weight: bolder;
    color: rgb(9, 230, 218);
}

#main-content h4 {
    color: antiquewhite;
}

nav {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left_nav {
    align-items: left;
}

#middle_nav {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

#right_nav {
    align-content: center;
}

#login {
    font-weight: 400;
    font-size: large;
    background-color: rgb(20, 20, 109);
    color: aliceblue;
    border: solid aliceblue 2px;
    border-radius: 0.7rem;
    padding: 7px;
}

#rooms-plans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgba(158, 230, 206, 0.986);
}

#rooms-plans-heading {
    background-color: rgba(158, 230, 206, 0.986);
    text-align: center;
    margin: 0;
    padding: 25px;
    padding-top: 45px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(13, 113, 194);
}

.rooms {
    width: 330px;
    height: 500px;
    border: white solid 1.2px;
    border-radius: 0.8rem;
    margin: 10px;
    overflow: hidden;
    background-color: rgb(202, 237, 238);
}

.rooms img {
    width: 100%;
}

.rooms div {
    margin-left: 15px;
    padding: 5px;
}

.rooms h3 {
    color: rgb(56, 6, 6);
}

.rooms p {
    font-size: medium;
    font-weight: 500;
    color: rgb(54, 35, 35);
}

.rooms button {
    background-color: rgb(231, 58, 116);
    padding: 7px;
    border: solid white 1px;
    border-radius: 0.4rem;
    font-weight: bold;
    color: bisque;
    margin-top: 15px;
}

.rooms button:hover {
    scale: 1.005;
    cursor: pointer;
    background-color: rgb(128, 17, 54);
}

#hotel-facilities {
    background-color: rgb(165, 110, 38);
}

#hotel-facilities h3 {
    color: rebeccapurple;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

#facilities-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    ;
}

.facilities {
    height: 240px;
    width: 321px;
}

.facilities img {
    width: 100%;
}

footer {
    background-color: black;
    color: rgb(215, 238, 238);
    display: flex;
    flex-direction: column;
}

#footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#footer-bottom {
    text-align: center;
}

i {
    margin: 5px;
}

@media (max-width:715px) {
    #footer-top {
        flex-direction: column;
        align-items: center;
    }
    #middle_nav {
        display: none;
    }
    #main-content h2 {
        font-size: 2rem;
    }
    #main-content h1 {
        font-size: 2.7rem;
        font-weight: bold;
        width: auto;
    }
}